.customized-image{
    max-height: 220px !important;
 //   max-width: 230px  !important;
   
}
ion-text{
    justify-content: center;
    align-self: center;
    align-content: center !important;
    margin-bottom: 0px;
  //  padding-top: 4px !important;
  padding-bottom: 2px !important;
    ion-label{
        padding-top: 2px !important;
    }
}