.content{
    line-height: 1.6 !important;
}
ion-content,ion-footer{
    --ion-background-color:white !important;
}
ion-text,div,ion-title,ion-icon,h5{
    color:#181616 !important;
}
ion-footer{
    padding-top:30px !important;
}
h5{
    padding:10px !important;
}