.itempanier{
    border-top: 0.5px solid rgb(131, 127, 127);
    border-bottom: 0.5px solid rgb(131, 127, 127);
  }
  .Iconsize_For_Rev{
   font-size: 30px
  }
 
 .icons{
   display: flex;
   flex-direction: row;
   align-items: center;
  
   justify-content: flex-end;
 }