<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" >
          <ion-back-button text="Retour" icon="ios-arrow-back"></ion-back-button>
        </ion-buttons>
    <ion-title>   A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  ion-padding>
  <div class="content">
  
 <ion-text ion-text-wrap>
  <h4>C'est quoi Dreamean ?</h4>

   DREAMEAN c’est une application de streaming  musical.<br>
  Elle a pour première mission de faciliter l’accès de la musique béninoise à toute la population et ainsi d’assurer une bonne visibilité à tous les artistes quel que soit leur statut.<br>
  L’objectif que poursuit la plateforme est  de digitaliser le milieu de musique au bénin.<br>
  Les fans béninois pourront soutenir leurs artistes en quelques clicks,suivre les tendances musicales en direct.
  
  
 <h5>Principe:</h5> 
   Créer une grande plateforme où les jeunes pourront facilement accéder à la musique béninoise.<br>
  Pour accéder aux différents types d’offre disponible sur la plateforme, le client devra créer un compte avec son numéro mobile money sur ladite plateforme et s’y abonner pour recevoir en temps et en heure les offres valables.<br>
  Après s’être abonné sur la plateforme, l’utilisateur aura  accès à deux types d'offres :<br>

 <h6> - Mode free:</h6>
   Ce mode est gratuit ,c'est le mode par défaut lorsqu'on accede pour la premiere fois a l'application!
   Si vous continuez avec ce mode ,le nombre de musiques a écouter par jour est limité.<br>
   Et vous consentez automatiquement à l'apparition des publicités commerciales. <br>
   Le téléchargement des sons est bien sur payant et défini comme suit:
  
   <ul>
     <li><ion-label>Single: 300 FCFA</ion-label></li>
     <li><ion-label>Album: 1000 FCFA</ion-label></li>
   </ul>
    Mais les titres payés dans ce mode vous appartiennent définitivement,et vous pouvez les consulter quand 
    vous le voulez ,avec ou sans connexion internet.
 
 
    <h6> - Mode Premium:</h6>
   C'est le mode par excellence de l'application,il comprend plusieurs avantages et a pour but d'améliorer l'expérience 
   utilisateur. 
   Il est accessible pour le prix de Mille cinq cent francs cfa(1500 Fcfa) . <br>
   Ici le téléchargement est gratuit  et le nombre de sons disponibles en écoute par jour est illimité.<br>
   Les titres téléchargés dans ce mode ne sont disponibles que durant la période d'abonnement( qui commence le jour de votre abonnement et prend fin (30) jours après)
   avec ou sans connexion et vous seront reconduits à chaque nouvel abonnement.<br>

   Mais vous avez aussi la possibilité de consever vos sons définitivement (voir icone dans la section réservé) en les payant.
   Rendez vous dans la section "Mode premium" pour découvrir tous les avantages de ce mode .<br>
 

   <h5>Comment acheter ou télécharger un titre</h5>
   Vous  pouvez acheter un titre sur dreamean  en quatre étapes:<br>
   -Assurez vous d'avoir une bonne connexion internet.<br>
   -Assurez de vous être enregistrés avec un numéro mobile money et vérifiez que vous avez un solde conséquent.<br>
   -Choisissez et cliquez le titre ou l'album à télécharger ou acheter.<br>
   -Vous êtes maintenant sur la page de lecture du titre ou de l'album,si vous voulez acheter  le titre ou l'album cliquez sur le bouton
   <ion-icon name="cart" color="dark"></ion-icon> ,un panier se présente alors à vous ,validez le.<br>
   une page de paiement se présente à vous avec vos informations préenregistrés ,vérifiez les et valider.<br>
   -Restez dans l'application jusqu'à la fin de votre transaction, votre(vos) téléchargement(s) devrait démarrer.<br>

   -Si vous voulez télécharger un son (réservé aux membres premium uniquement)<br>
   Cliquez simplement sur le bouton <ion-icon name="download" color="dark"></ion-icon> et attendez la find de votre téléchargement.


     <p>Très bonne écoute! restez à l'affut pour les mises à jour  périodiques.</p>

    </ion-text>
</div>
  
</ion-content>
