<ion-header>
  <ion-toolbar ion-text-center>
    
    <ion-title >Dreamean Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-list>
   <ion-item><ion-icon name="checkmark-circle" color="tertiary" slot="start"></ion-icon>
   <ion-text>Pertubé par tout ces pubs pendant que tu écoutes tes sons préférés? </ion-text> 
  </ion-item>
  <ion-item><ion-icon name="checkmark-circle" color="tertiary" slot="start"></ion-icon>
    <ion-text>Marre de se casser la tête sur le nombre de sons que tu peux écouter par jour? </ion-text> 
   </ion-item>
    <ion-item><ion-icon name="checkmark-circle" color="tertiary" slot="start"></ion-icon>
   <ion-text>Pouvoir écouter tes sons même sans connexion internet?(oui j'ai bien dit sans internet!)</ion-text> 
    </ion-item>
    <ion-item><ion-icon name="checkmark-circle" color="tertiary" slot="start"></ion-icon>
      <ion-text>Tu aimerais bien choisir quel son écouter après,modifier ta file d'attente comme bon te semble?</ion-text>
    </ion-item>
   
    <ion-item><ion-icon name="checkmark-circle" color="tertiary" slot="start"></ion-icon>
      <ion-text>Ou tu as simplement envie d'en finir avec l'illégalité,écouter les dernières sorties avant tout le monde ?  </ion-text> 
     </ion-item>
    
   
    <div class="ion-padding ion-text-center" style="zoom:1.5">
      1500 Fcfa seulement !/mois
    </div>
 </ion-list>
 <ion-row>
  <ion-col size="6">
    <ion-button color="danger" (click)="this.dismiss()">Retour</ion-button>
  </ion-col>
  <ion-col size="6">
    <ion-button [fedaCheckoutOptions]="checkoutButtonOptions"  color="success"> </ion-button>
  </ion-col>
</ion-row>
</ion-content>

